<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.compression.backend.mapper.AlgorithmMapper">
    <select id="findAlgoByName" resultType="Algorithm">
        select * from algorithm
        where algo_name = #{algorithmName}
    </select>
    <select id="searchAlgorithm" resultType="Algorithm">
        select * from algorithm
    </select>
    <select id="findAlgoById" resultType="Algorithm">
        select * from infos where algorithm_id = #{algorithmId}
    </select>




    <insert id="uploadAlgorithm">
        insert into infos (username, name, score, institute, ranking, morfPath, lerfPath, pythonPath, email, info, status)
        values (#{username}, #{name}, #{score}, #{institute}, #{ranking}, #{morfPath}, #{lerfPath}, #{pythonPath}, #{email}, #{info}, #{status});
    </insert>

    <update id="algorithmReject" parameterType="integer">
        UPDATE infos
        SET status = 'Rejected'
        WHERE algorithm_id = #{algorithmId}
    </update>

    <update id="algorithmApprove" parameterType="integer">
        UPDATE infos
        SET status = 'Approved'
        WHERE algorithm_id = #{algorithmId}
    </update>
</mapper>
