<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.mapper.PictureDataMapper">
    <select id="getPicture" resultType="org.zjuvipa.entity.PictureData">
        select *
        from picture_data
        where dataset_id = #{datasetId};
    </select>
    <insert id="uploadPicture">
        insert into picture_data (picture_url, picture_name, dataset_id)
        values (#{url}, #{name}, #{datasetId});
    </insert>
    <delete id="deleteDatasetPictures">
        delete
        from picture_data
        where dataset_id = #{datasetId};
    </delete>
</mapper>
