<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.compression.backend.mapper.HistoryMapper">
    <insert id="addHistory" parameterType="History">
        insert into history
        values (0,#{historyName},#{algoId},#{algoName},#{username},#{datasetId},#{datasetName},#{modelPath},#{dateTime})
    </insert>
    <select id="findHistoriesByUser" resultType="History">
        select * from history
        <where>
            <if test="model != null and model != ''">
                and model_name like concat('%',#{model},'%')
            </if>
            <if test="type != null and type != ''">
                and task_type = #{type}
            </if>
            <if test="client != null and client != ''">
                and client = #{client}
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and submit_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and submit_time &lt;= #{createTimeEnd}
            </if>
            and username=#{username}
        </where>
        order by history_id DESC
    </select>
    <select id="findAllHistories" resultType="History">
        select * from algorithm
    </select>
    <insert id="uploadHistory">
        insert into history (model_name, task_type, checkpoint_path, username, submit_time, status, params_change, flops_change, acc_change, loss_change, pruned_path, structure_before_pruned, structure_after_pruned, log_path)
        values (#{modelname}, #{tasktype}, #{checkpointpath}, #{username}, #{submittime}, #{status}, #{paramschange}, #{flopschange}, #{accchange}, #{losschange}, #{prunedpath}, #{structurebeforepruned}, #{structureafterpruned}, #{logpath});
    </insert>
    <insert id="uploadTrainingHistory">
        insert into history (model_name, task_type, checkpoint_path, username, submit_time, status, params_change, flops_change, acc_change, loss_change, pruned_path, structure_before_pruned, structure_after_pruned, log_path,
        is_training, tot_epoch, current_epoch, script, client)
        values (#{modelname}, #{tasktype}, #{checkpointpath}, #{username}, #{submittime}, #{status}, #{paramschange}, #{flopschange}, #{accchange}, #{losschange},
        #{prunedpath}, #{structurebeforepruned}, #{structureafterpruned}, #{logpath}, #{istrain}, #{totepoch}, #{currentepoch}, #{script}, #{client});
    </insert>

    <insert id="uploadUploadingHistory">
        insert into history (model_name, task_type, checkpoint_path, username, submit_time, status, params_change, flops_change, acc_change, loss_change, pruned_path, structure_before_pruned, structure_after_pruned, log_path,
        is_training, tot_epoch, current_epoch, script, client, dataset, usrModelName)
        values (#{modelname}, #{tasktype}, #{checkpointpath}, #{username}, #{submittime}, #{status}, #{paramschange}, #{flopschange}, #{accchange}, #{losschange},
        #{prunedpath}, #{structurebeforepruned}, #{structureafterpruned}, #{logpath}, #{istrain}, #{totepoch}, #{currentepoch}, #{script}, #{client}, #{dataset}, #{usrModelName});
    </insert>
    <select id="findHistoryByName" resultType="History">
        select * from history
        where (username=#{param1} and history_name=#{param2})
    </select>
    <select id="findHistoriesByUserAndAlgo" resultType="History">
        select * from history
        where (username=#{param1} and algo_id=#{param2})
    </select>
    <select id="findHistoriesByUserAndDataset" resultType="History">
        select * from history
        where (username=#{param1} and dataset_id=#{param2})
    </select>
    <select id="findHistoriesByUserAndAlgoAndDataset" resultType="History">
        select * from history
        where (username=#{param1} and algo_id=#{param2} and dataset_id=#{param3})
    </select>
    <delete id="deleteHistory" parameterType="String">
        delete from history
        where username=#{param1} and model_name=#{param2}
    </delete>
    <update id="updateHistory">
        update history
        set history_name=#{param2}
        where history_id=#{param1}
    </update>
</mapper>
