<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.compression.backend.mapper.RankListMapper">
    <select id="getCurrentRank" resultType="rankList">
        select * from algorithm ORDER BY `rank` ASC;
    </select>
    <select id="getQualitativeComparison" resultType="qualitativeList">
        SELECT * FROM algorithm
        <where>
            <if test="dataset != null and dataset != ''">
                and dataset = #{dataset}
            </if>
            <if test="model != null and model != ''">
                and model = #{model}
            </if>
        </where>
        ORDER BY dataset, model;
    </select>
    <select id="getLeaderboard" resultType="leaderboardList">
        SELECT * FROM leaderboard
        <where>
            <if test="dataset != null and dataset != ''">
                and dataset = #{dataset}
            </if>
            <if test="model != null and model != ''">
                and model = #{model}
            </if>
        </where>
        ORDER BY dataset, model;
    </select>
<!--    WHERE dataset LIKE CONCAT(#{dataset}, '%') AND model LIKE CONCAT(#{model}, '%')-->
    <!--    WHERE dataset LIKE CONCAT(#{dataset}, '%') AND model LIKE CONCAT(#{model}, '%')-->




</mapper>
