<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.compression.distributor.mapper.DistributorHistoryMapper">
    <select id="findTrainingTask" resultType="History">
        select * from history
        where is_training=1 and status='Waiting'
    </select>
    <select id="findHistoryById" resultType="History">
        select * from history
        where history_id=#{historyId}
    </select>


    <update id="updateHistory">
        update history
        set is_training=2
        where history_id=#{param1}
    </update>
    <update id="setTaskIsTraining">
        update history
        set is_training=2
        where history_id=#{param1}
    </update>

    <update id="setTaskIsReady">
        update history
        set status='Ready'
        where history_id=#{param1}
    </update>

    <update id="setTaskIsFailed">
        update history
        set status='Failed'
        where history_id=#{param1}
    </update>

    <update id="updateClient">
        update history
        set client=#{client}
        where history_id=#{historyId}
    </update>

    <update id="SyncHistory">
        update history
        set status=#{status}, params_change=#{paramschange}, flops_change=#{flopschange}, acc_change=#{accchange},
        loss_change=#{losschange}, pruned_path=#{prunedpath}, structure_after_pruned=#{structureafterpruned},
        log_path=#{logpath}, tot_epoch=#{totepoch}, current_epoch=#{currentepoch}
        where history_id=#{taskid};
    </update>

    <update id="SyncHistoryWithFinishTime">
        update history
        set status=#{status}, params_change=#{paramschange}, flops_change=#{flopschange}, acc_change=#{accchange},
        loss_change=#{losschange}, pruned_path=#{prunedpath}, structure_after_pruned=#{structureafterpruned},
        log_path=#{logpath}, tot_epoch=#{totepoch}, current_epoch=#{currentepoch}, finish_time=CURRENT_TIMESTAMP
        where history_id=#{taskid};
    </update>
</mapper>
