<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.compression.client155_2.mapper.ClientHistoryMapper">
    <select id="findTrainingTask" resultType="ClientHistory">
        select * from task
        where is_training=1
    </select>

    <select id="findWaitingTask" resultType="ClientHistory">
        select * from task
        where status='Waiting' order by task_id asc;
    </select>

    <select id="findExecutingTask" resultType="ClientHistory">
        select * from task
        where status='Ready' or status='Pruning'  or status='Finetuning' or status='Sparse learning';
    </select>

    <select id="findHistoryById" resultType="ClientHistory">
        select * from task
        where task_id=#{historyid}
    </select>
    <insert id="uploadHistory">
        insert into task (task_id, username, status, params_change, flops_change, acc_change, loss_change,
                                 pruned_path, structure_after_pruned, log_path, tot_epoch, current_epoch,
                                 script)
        values (#{historyid}, #{username}, #{status}, #{paramschange}, #{flopschange}, #{accchange}, #{losschange},
        #{prunedpath}, #{structureafterpruned}, #{logpath}, #{totepoch}, #{currentepoch}, #{script});
    </insert>


    <update id="updateHistoryAfterPruned">
        update task
        set status=#{status}, params_change=#{paramschange}, flops_change=#{flopschange}, acc_change=#{accchange},
        loss_change=#{losschange}, pruned_path=#{prunedpath}, structure_after_pruned=#{structureafterpruned},
        log_path=#{logpath}, tot_epoch=#{totepoch}, current_epoch=#{currentepoch}
        where task_id=#{taskid};
    </update>

    <update id="updateHistoryAfterLaunch">
        update task
        set status='Ready'
        where task_id=#{taskid};
    </update>

    <update id="updateHistoryAfterFailed">
        update task
        set status='Failed'
        where task_id=#{taskid};
    </update>
</mapper>
