<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.mapper.HistoryMapper">
    <insert id="addHistory" parameterType="org.zjuvipa.entity.History">
        insert into history
        values (0,#{historyName},#{algoId},#{algoName},#{username},#{datasetId},#{datasetName},#{modelPath},#{dateTime})
    </insert>
    <select id="findHistoriesByUser" resultType="org.zjuvipa.entity.History">
        select * from algorithm
        where username=#{username}
    </select>
    <select id="findAllHistories" resultType="org.zjuvipa.entity.History">
        select * from algorithm
    </select>
    <select id="findHistoryByName" resultType="org.zjuvipa.entity.History">
        select * from history
        where (username=#{param1} and history_name=#{param2})
    </select>
    <select id="findHistoriesByUserAndAlgo" resultType="org.zjuvipa.entity.History">
        select * from history
        where (username=#{param1} and algo_id=#{param2})
    </select>
    <select id="findHistoriesByUserAndDataset" resultType="org.zjuvipa.entity.History">
        select * from history
        where (username=#{param1} and dataset_id=#{param2})
    </select>
    <select id="findHistoriesByUserAndAlgoAndDataset" resultType="org.zjuvipa.entity.History">
        select * from history
        where (username=#{param1} and algo_id=#{param2} and dataset_id=#{param3})
    </select>
    <delete id="deleteHistory" parameterType="String">
        delete from history
        where username=#{param1} and model_name=#{param2}
    </delete>
    <update id="updateHistory">
        update history
        set history_name=#{param2}
        where history_id=#{param1}
    </update>
</mapper>
