<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.mapper.RankListMapper">
    <select id="getCurrentRank" resultType="org.zjuvipa.entity.rankList">
        select * from algorithm ORDER BY `rank` ASC;
    </select>
    <select id="getQualitativeComparison" resultType="org.zjuvipa.entity.qualitativeList">
        SELECT * FROM algorithm WHERE dataset LIKE CONCAT(#{dataset}, '%') AND model LIKE CONCAT(#{model}, '%') ORDER BY dataset, model;
    </select>
    <select id="getLeaderboard" resultType="org.zjuvipa.entity.leaderboardList">
        SELECT * FROM leaderboard WHERE dataset LIKE CONCAT(#{dataset}, '%') AND model LIKE CONCAT(#{model}, '%') ORDER BY dataset, model;
    </select>




</mapper>
