<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjuvipa.mapper.UserMapper">
<!--    添加新用户-->
    <insert id="addUser" parameterType="org.zjuvipa.entity.User">
        insert into user
        values (#{username},#{password},#{salt},#{telephone},#{headshot},#{institute},#{authority})
    </insert>
    <!--    根据用户名查询用户-->
    <select id="findByUsername" resultType="org.zjuvipa.entity.User">
        select * from user
        where username = #{username}
    </select>
    <!--    根据用户名查询权限，但是发现上面那个已经可以实现了-->
    <select id="findAuthority" resultType="org.zjuvipa.entity.User">
        select * from user
        where username = #{username}
    </select>
    <!--更新用户密码-->
    <update id="updateUserPassword" parameterType="String">
        update user
        set password=#{param2}
        where username=#{param1};
    </update>
    <!--    更新用户手机号-->
    <update id="updateUserTel" parameterType="String">
        update user
        set telephone=#{param2}
        where username=#{param1};
    </update>
    <!--    更新用户权限-->
    <update id="updateUserIdentify">
        update user
        set authority=#{param2}
        where username=#{param1};
    </update>
</mapper>
